<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".DetailSearchActivity" />
        <activity
            android:name=".Test_Program.Test"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ChooseSignUpActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".RegisterUserActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RegisterMaidActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ChooseGenderActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".IDCardActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".PhoneVerifyActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AddressBooksActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".UserInformationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".EditEmailActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".EditPasswordActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>